<?xml version="1.0"?>
<!--
/**
/**
 * Copyright 2015 Classy Geeks llc. All Rights Reserved
 * http://classygeeks.com
 * MIT License:
 * http://opensource.org/licenses/MIT
 */
 */
-->
<config>
	<modules>
		<Classygeeks_Mailman>
			<version>1.0.0</version>
		</Classygeeks_Mailman>
	</modules>
	<global>
		<helpers>
			<mailman>
				<class>Classygeeks_Mailman_Helper</class>
			</mailman>
		</helpers>
		<blocks>
            <mailman>
                <class>Classygeeks_Mailman_Block</class>
            </mailman>
        </blocks>
		<models>
			<mailman>
				<class>Classygeeks_Mailman_Model</class>
				<resourceModel>mailman_resource</resourceModel>
			</mailman>
			<mailman_resource>
				<class>Classygeeks_Mailman_Model_Resource</class>
				<entities>
					<messages>
						<table>mailman_messages</table>
					</messages>
					<attachments>
						<table>mailman_attachments</table>
					</attachments>
					<events>
						<table>mailman_events</table>
					</events>
				</entities>
			</mailman_resource>
			<core>
                <rewrite>
                    <email_template>Classygeeks_Mailman_Model_Email_Template</email_template>
					<email>Classygeeks_Mailman_Model_Email</email>
                </rewrite>
            </core>
		</models>
		<resources>
			<mailman_setup>
				<setup>
					<module>Classygeeks_Mailman</module>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</mailman_setup>
			<mailman_write>
				<connection>
					<use>core_write</use>
				</connection>
			</mailman_write>
			<mailman_read>
				<connection>
					<use>core_read</use>
				</connection>
			</mailman_read>
		</resources>
	</global>
	<admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Classygeeks_Mailman before="Mage_Adminhtml">Classygeeks_Mailman</Classygeeks_Mailman>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
	<adminhtml>
		<layout>
	        <updates>
	            <mailman>
	                <file>mailman.xml</file>
	            </mailman>
	        </updates>
	    </layout>
	</adminhtml>
	<frontend>
        <routers>
            <mailman>
                <use>standard</use>
                <args>
                    <module>Classygeeks_Mailman</module>
                    <frontName>mailman</frontName>
                </args>
            </mailman>
        </routers>
    </frontend>
	<default>
		<mailman>
            <settings>
	            <enabled>0</enabled>
                <num_sent_cycle>10</num_sent_cycle>
	            <num_max_attempts>3</num_max_attempts>
	            <num_days_purge>30</num_days_purge>
	            <email_default_sender></email_default_sender>
            </settings>
			<smtp>
				<server></server>
	            <port>25</port>
				<auth>none</auth>
				<ssl>0</ssl>
	            <username></username>
	            <password></password>
			</smtp>
			<webhooks>
				<key></key>
			</webhooks>
        </mailman>
    </default>
	<crontab>
        <jobs>
            <mailman_cron_sendmail>
                <schedule>
                    <cron_expr>* * * * *</cron_expr>
                </schedule>
                <run>
                    <model>mailman/observer::sendMail</model>
                </run>
            </mailman_cron_sendmail>
	        <mailman_cron_cleanup>
                <schedule>
                    <cron_expr>0 1 * * *</cron_expr>
                </schedule>
                <run>
                    <model>mailman/observer::cleanUp</model>
                </run>
            </mailman_cron_cleanup>
        </jobs>
    </crontab>
</config>